@import 'shared';

img {
    align-self: center;
}

.img-wide {
    max-width: 500px;
}

.img-tall {
    max-height: 500px;
}

.ceramics-img {
    max-width: 300px;
    border: 7px solid $lightPurple;
}