@import 'shared';

.navbar {
    @include secondaryText;
    color: $deepPurple;
    padding: 10px 30px;
    background: $teal;
    display: flex;
    flex-direction: row;
    justify-content: left;

    &:hover {
        background: $salmon;
        color: $yellow;
    }
}

.btn-back {
    margin: 0 15px 0 0;
}