@import 'shared';

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 30px;
    align-items: center;
}

.divider {
    background: $deepPurple;
    width: 100%;
    height: 7px;
}

h1 {
    font-family: $primaryFont;
    font-size: 60px;
    color: $deepPurple;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

h2 {
    font-family: $secondaryFont;
    text-transform: uppercase;
    font-size: 30px;
    color: $deepPurple;
    margin: 0 0 0 20px;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 15px;
}

.section {
    display: flex;
    flex-direction: column;
    font-family: $tertiaryFont;
    font-size: 20px;
    width: 100%;
    align-items: center;
    padding: 20px;
    color: $deepPurple;
}

.section-heading {
    @include secondaryText;
    font-size: 40px;
    background: $lightTeal;
    padding: 2px;
}

.section-sub-heading {
    @include secondaryText;
    text-align: center;
    background: $lightYellow;
    margin: 10px;
    padding: 2px;
    font-size: 25px;
}

.section-sub-sub-heading {
    @include secondaryText;
    text-align: center;
    background: $lightPurple;
    margin: 3px;
    padding: 2px;
    font-size: 18px;
}

.section-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;

}

.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.skills-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.skills-column {
    display: flex;
    flex-direction: column;
}

.work-description {
    padding: 10px;
    font-size: inherit;
    text-align: center;
}