
@import url(https://fonts.googleapis.com/css?family=Assistant);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);
@import url(https://fonts.googleapis.com/css?family=Bangers|Cutive+Mono|Open+Sans:300,400,700,800);

$assistant: 'Assistant', sans-serif;
$dancingScript: 'Dancing Script', sans-serif;
$primary: 'Bangers', sans-serif;
$oswald: 'Oswald', sans-serif;
$secondary: 'Cutive Mono', sans-serif;

body {
    // background: #cbfff6;
    background: #eff2fa;
    // background-image: url("https://cdn4.vectorstock.com/i/1000x1000/38/08/black-and-white-background-in-thin-grunge-stripes-vector-19043808.jpg");
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    display: block;
  }


.grid {
	display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(11, minmax(100px, 1fr));
	grid-gap: 15px;
    // grid-auto-rows: min-max(100px, auto);
    grid-auto-rows: minmax(100px, 1fr);
    // grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
    grid-auto-flow: dense;
    justify-content: center;
    position: relative;
    margin: 3% 5%;
    // width: 100vw;
    // height: 100vh;
}

.card {
    min-height: 100px;
    background-size: cover;
    background-position: 50% 50%;
    font-family: $oswald;
    // filter: drop-shadow(4px 6px 3px #B1C1E7);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// name
.a {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3;
    text-align: center;
    background: #2E06AE;
    // color: #7FA6FF;
    color: #D3C8F5;
    border: 10px double #C7D5F4;;
    // letter-spacing: 3px;
    // border-radius: 3px;
}

// resume
.b {
    grid-row: 3 / span 3;
    grid-column: 6 / span 2;
    background: #7FA6FF;
    color: #2E06AE;
    font-size: 50px;
    font-family: $primary;
    // border: 2px solid #D3C8F5;
    border: 2px solid #2E06AE;
    // border: 2px solid #C7D5F4;
    // border-radius: 3px;

    &:hover {
        background: #FFE35A;
        color: #FDA800;
        border: 2px solid #FDA800;
    }

}

.c {
    text-align: center;
    font-size: 50px;
    grid-row: 4 / span 2;
    grid-column: 2 / span 2;
    background: #7FA6FF;
    color: #2E06AE;
    border: 1px solid #2E06AE;
}

.d {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
    background: #D3C8F5;
    // border: 1px solid #7FA6FF;
}

.e {
    grid-row: 4 / span 1;
    grid-column: 5 / span 1;
    background: #7FA6FF;
}

// location
.h {
    grid-row: 5 / span 1;
    grid-column: 4 / span 2;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    // font-weight: 800;
    font-family: $secondary;
    background: #2E06AE;
    color:  #C7D5F4;
    border: 2px solid #C7D5F4;
}

// creative work
.i {
    grid-row: 6 / span 1;
    grid-column: 3 / span 2;
    background: #C7D5F4;
    border: 1px solid #D3C8F5;
    color: #0637A9;
    font-family: $secondary;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        background: #FFE670;
        color: #FDA800;
        border: 1px solid #FDA800;
    }

}

// contact
.j {
    grid-row: 6 / span 2;
    grid-column: 5 / span 2;
    background: #D3C8F5;
    color: #2E06AE;
    font-size: 40px;
    font-family: $primary;
    border: 2px solid #7FA6FF;

    &:hover {
        background: #FFEECB;
        color: #FDD100;
        border: 2px solid #FDD100;

        path {
            fill: #FDD100;
        }
    }
}

// projects
.k {
    grid-row: 6 / span 2;
    grid-column: 7 / span 2;
    background: #2E06AE;
    color: #D3C8F5;

    font-size: 25px;
    font-family: $secondary;
    text-transform: uppercase;
    border: 1px solid #D3C8F5;

    &:hover {
        background: #FDA800;
        color: #FFF6CB;
        border: 1px solid #FFF6CB;
    }
}

.l {
    grid-row: 2 / span 2;
    grid-column: 8 / span 1;
    // background: #2E06AE;
    background: #D3C8F5;
    // color: #D3C8F5;
}

// headshot
.m {
    grid-row: 3 / span 2;
    grid-column: 9 / span 2;
    // background: #7FA6FF;
    color: #2E06AE;
    // font-size: 40px;
    // font-family: $bangers;
    border: 4px solid #D3C8F5;
    outline: 2px solid #2E06AE;
    // border-radius: 50%;
    background-size: cover;
    background-image: url("https://media.licdn.com/dms/image/C4E03AQFV5cQSOILl7w/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=QC37W2cpdD2KRFIyfJw8C2Q9qBwUX9TRvgVX-GAke2k");

    // &:hover {
    //     border: 4px solid #FFE35A;
    //     outline: 2px solid #FDA800;
    // }

    // &:before {
    //     border: 1px solid #2E06AE;
    //     background: none;
    //     // border: 4px solid #fff;
    //     content: "";
    //     display: block;
    //     // position: absolute;
    //     top: 4px;
    //     left: 4px;
    //     right: 4px;
    //     bottom: 4px;
    //     pointer-events: none;
    // }
}


.n {
    grid-row: 2 / span 1;
    grid-column: 9 / span 1;
    // background: #D3C8F5;
    // color: #2E06AE;
    background: #D3C8F5;
    // border: 3px solid #D3C8F5;
    // background-image: url("https://media.licdn.com/dms/image/C4E03AQFV5cQSOILl7w/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=QC37W2cpdD2KRFIyfJw8C2Q9qBwUX9TRvgVX-GAke2k")
}


.o {
    grid-row: 4 / span 1;
    grid-column: 8 / span 1;
    // color: #2E06AE;
    background: #2E06AE;  
}

// github
.p {
    grid-row: 5 / span 1;
    grid-column: 8 / span 2;
    background: #C7D5F4;
    color: #2E06AE;
    font-size: 20px;
    text-transform: uppercase;
    // font-weight: 800;
    font-family: $secondary;
    border: 1px solid #D3C8F5;

    &:hover {
        background: #FFE35A;
        color: #FDA800;
        border: 1px solid #FDA800;
        cursor: pointer;
    }
}

// linkedin
.q {
    grid-row: 6 / span 1;
    grid-column: 9 / span 2;
    background: #D3C8F5;
    color: #2E06AE;
    font-size: 20px;
    font-family: $secondary;
    text-transform: uppercase;
    border: 1px solid #7FA6FF;
    // font-weight: 800;

    &:hover {
        background: #FFEECB;
        color: #FDD100;
        border: 1px solid #FDD100;
    }
}






.name {
    font-family: $primary;
    font-weight: 700;
    font-size: 100px;
    // color: #2E06AE;
    // transform: rotate(-30deg);
}

.se {
    font-family: $primary;
    transform: rotate(-20deg);
    text-transform: uppercase;
}

.brooklyn {
    font-size: 40px;
}

.row-1-3 {
    grid-row: 1 / span 3;
}


.col-1-2 {
    grid-column: 1 / span 2;
}

.col-2-2 {
    grid-column: 2 / span 2;
}

.col-6-2 {
    grid-column: 6 / span 2;
}

.col-6-3 {
    grid-column: 6 / span 3;
}

.col-3-3 {
    grid-column: 3 / span 3;
}

.row-1-4 {
    grid-row: 1 / span 4;
}

.row-1-2{
    grid-row: 1 / span 2;
}

.row-3-2 {
    grid-row: 3 / span 2;
}

.row-3-3 {
    grid-row: 3 / span 3;
}

.row-1-3 {
    grid-row: 1 / span 3;
}

.row-4-2 {
    grid-row: 4 / span 2;
}

.row-4-1 {
    grid-row: 4 / span 1;
}

.col-4-1 {
    grid-column: 4 / span 1;
}
.col-5-1 {
    grid-column: 5 / span 1;
}

.col-4-2 {
    grid-column: 4 / span 2;
}

.row-5-1 {
    grid-row: 5 / span 1;
}

.col-3-2 {
    grid-column: 3 / span 2;
}

.row-6-3 {
    grid-row: 6 / span 3;
}

.col-3-2 {
    grid-column: 3 / span 2;
}

.row-6-2 {
    grid-row: 6 / span 2;
}

.col-5-2 {
    grid-column: 5 / span 2;
}

.round {
    border-radius: 50%;
}

.row-6-3 {
    grid-row: 6 / span 3;
}

.col-7-3 {
    grid-column: 7 / span 3;
}

.row-2-2 {
    grid-row: 2 / span 2;
}

.col-8-1 {
    grid-column: 8 / span 1;
}

.row-3-2 {
    grid-row: 3 / span 2;
}

.col-9-2 {
    grid-column: 9 / span 2;
}

.row-2-1 {
    grid-row: 2 / span 1;
}

.col-9-1 {
    grid-column: 9 / span 1;
}

.row-4-1 {
    grid-row: 4 / span 1;
}

.col-8-1 {
    grid-column: 8 / span 1;
}

.row-5-1 {
    grid-row: 5 / span 1;
}

.col-8-2 {
    grid-column: 8 / span 2;
}

.row-6-1 {
    grid-row: 6 / span 1;
}

.col-10-1 {
    grid-column: 10 / span 1;
}

