.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	// position: fixed;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #d8d8ff;
	//width: 100%;
	align-self: stretch;

	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;

		.menu-item {
			list-style: none;
			display: inline-block;
			color: #000;
			padding: 2px 6px;
		}
	}
}

